<!-- <div class="form-group">
    <label for="name">Recipe Name</label>
    <input type="text" id="name" class="form-control" [(ngModel)]="recipe.name">
    <label for="description">Recipe Description</label>
    <input type="text" id="description" class="form-control" [(ngModel)]="recipe.description">
    <label for="imagePath">Recipe Image</label>
    <input type="text" id="imagePath" class="form-control" [(ngModel)]="recipe.imagePath">
    <label for="ingredientName">Ingredient name</label>
    <input type="text" id="ingredientName" class="form-control" [(ngModel)]="ingredients[0].name">
</div>
<div class="form-group">
    <label for="amount">Amount</label>
    <input id="amount" class="form-control" [(ngModel)]="ingredients[0].amount">
</div> -->
<button class="btn btn-primary" (click)="onUpdateRecipe()">Update Recipe</button>